@define-color borders_breeze #3f444e;
@define-color content_view_bg_breeze #141622;
@define-color error_color_backdrop_breeze #fd547e;
@define-color error_color_breeze #fd547e;
@define-color error_color_insensitive_backdrop_breeze #612a3f;
@define-color error_color_insensitive_breeze #612a3f;
@define-color insensitive_base_color_breeze #131520;
@define-color insensitive_base_fg_color_breeze #535b63;
@define-color insensitive_bg_color_breeze #131520;
@define-color insensitive_borders_breeze #21242f;
@define-color insensitive_fg_color_breeze #4c535b;
@define-color insensitive_selected_bg_color_breeze #131520;
@define-color insensitive_selected_fg_color_breeze #4c535b;
@define-color insensitive_unfocused_bg_color_breeze #131520;
@define-color insensitive_unfocused_fg_color_breeze #4c535b;
@define-color insensitive_unfocused_selected_bg_color_breeze #131520;
@define-color insensitive_unfocused_selected_fg_color_breeze #4c535b;
@define-color link_color_breeze #00b8b8;
@define-color link_visited_color_breeze #b2c1c3;
@define-color success_color_backdrop_breeze #006e28;
@define-color success_color_breeze #006e28;
@define-color success_color_insensitive_backdrop_breeze #0c3222;
@define-color success_color_insensitive_breeze #0c3222;
@define-color theme_base_color_breeze #141622;
@define-color theme_bg_color_breeze #141622;
@define-color theme_button_background_backdrop_breeze #141622;
@define-color theme_button_background_backdrop_insensitive_breeze #131520;
@define-color theme_button_background_insensitive_breeze #131520;
@define-color theme_button_background_normal_breeze #141622;
@define-color theme_button_decoration_focus_backdrop_breeze #2e8b8b;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #1c3c43;
@define-color theme_button_decoration_focus_breeze #2e8b8b;
@define-color theme_button_decoration_focus_insensitive_breeze #1c3c43;
@define-color theme_button_decoration_hover_backdrop_breeze #009696;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #0c4047;
@define-color theme_button_decoration_hover_breeze #009696;
@define-color theme_button_decoration_hover_insensitive_breeze #0c4047;
@define-color theme_button_foreground_active_backdrop_breeze #becfd2;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #4c535b;
@define-color theme_button_foreground_active_breeze #0f1019;
@define-color theme_button_foreground_active_insensitive_breeze #4c535b;
@define-color theme_button_foreground_backdrop_breeze #becfd2;
@define-color theme_button_foreground_backdrop_insensitive_breeze #4c535b;
@define-color theme_button_foreground_insensitive_breeze #4c535b;
@define-color theme_button_foreground_normal_breeze #becfd2;
@define-color theme_fg_color_breeze #becfd2;
@define-color theme_header_background_backdrop_breeze #141622;
@define-color theme_header_background_breeze #141622;
@define-color theme_header_background_light_breeze #141622;
@define-color theme_header_foreground_backdrop_breeze #becfd2;
@define-color theme_header_foreground_breeze #becfd2;
@define-color theme_header_foreground_insensitive_backdrop_breeze #becfd2;
@define-color theme_header_foreground_insensitive_breeze #becfd2;
@define-color theme_hovering_selected_bg_color_breeze #009696;
@define-color theme_selected_bg_color_breeze #009696;
@define-color theme_selected_fg_color_breeze #0f1019;
@define-color theme_text_color_breeze #d4e7ea;
@define-color theme_titlebar_background_backdrop_breeze #141622;
@define-color theme_titlebar_background_breeze #141622;
@define-color theme_titlebar_background_light_breeze #141622;
@define-color theme_titlebar_foreground_backdrop_breeze #a5c8cf;
@define-color theme_titlebar_foreground_breeze #a5c8cf;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #a5c8cf;
@define-color theme_titlebar_foreground_insensitive_breeze #a5c8cf;
@define-color theme_unfocused_base_color_breeze #141622;
@define-color theme_unfocused_bg_color_breeze #141622;
@define-color theme_unfocused_fg_color_breeze #becfd2;
@define-color theme_unfocused_selected_bg_color_alt_breeze #043739;
@define-color theme_unfocused_selected_bg_color_breeze #043739;
@define-color theme_unfocused_selected_fg_color_breeze #becfd2;
@define-color theme_unfocused_text_color_breeze #d4e7ea;
@define-color theme_unfocused_view_bg_color_breeze #131520;
@define-color theme_unfocused_view_text_color_breeze #535b63;
@define-color theme_view_active_decoration_color_breeze #009696;
@define-color theme_view_hover_decoration_color_breeze #009696;
@define-color tooltip_background_breeze #141622;
@define-color tooltip_border_breeze #3f444e;
@define-color tooltip_text_breeze #becfd2;
@define-color unfocused_borders_breeze #3f444e;
@define-color unfocused_insensitive_borders_breeze #21242f;
@define-color warning_color_backdrop_breeze #00664b;
@define-color warning_color_breeze #00664b;
@define-color warning_color_insensitive_backdrop_breeze #0c302e;
@define-color warning_color_insensitive_breeze #0c302e;
