[Desktop Entry]
Type=Application
Name=Auto Lock Screen
Exec=/home/duck/.config/autostart-scripts/auto-lock.sh
X-KDE-Autostart-Phase=0
X-KDE-Autostart-After=KDE
