[Desktop Entry]
Version=1.0
Type=Application
Name=Logout
Comment=Logout from current session
Exec=/home/duck/Desktop/simple-logout.sh
Icon=/home/duck/Downloads/logout.jpg
Terminal=false
Categories=System;
StartupNotify=false
